

body{
    background-color: #252222;
}

#home{
    background-image: url(bg.png);
    background-size: cover;
    width: 100%;
    height: 760px;
}

#logo{
    width: 200px;
    margin-left: 60px;
}

.Navigation-Bar{
    display: flex;

}

nav{
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
}

ul li{
    list-style: none;
    display: inline-block;
    padding: 20px;
}

a:link, a:visited{
    text-decoration: none;
    color: white;
    padding: 15px 25px;
}

a:hover, a:active{
    background-color: rgb(132, 158, 237);

}

.text{
    margin-left: 150px;
    margin-top: 250px;

}
#name, #intro1{
    margin-top: -20px;
}

#name{
    color:  #EBE76C;
    font-family: 'Poppines', sans-serif;
    font-size: 70px;
}

h3{
    font-family: 'Poppins', sans-serif;
    color: white;
}


/* About para d ma saag*/

#about{
    background-image: url(color.png);
    background-size: cover;
    width: 100%;
    height: fit-content;
    width: fit-content;
    padding: 50px;
}

.about-container{
    padding: 60px;
    display: flex;
    justify-content: center;
}

#aboutpic{
    border-radius: 50px;
}

.item2{
    font-family: 'Poppins', sans-serif;
    padding-left: 50px;
    padding-top: 0px;
    padding-right: 100px;
    font-size: 20px;
    background-color: #252222;
    margin-left: 30px;
    border-radius: 20px;
    width: fit-content;
    line-height: 30px;
}

.skillset{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding-top: 10px;
    margin: 10px;
    column-gap: 20px;
}

#aboutme{
    color: #EBE76C;
    font-size: 50px;
    padding-top: 20px;
}

.myskills{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin-top: 50px;
    color: white;
}
.skills{
    width: 60px;
    height: 50px;
}

.grid-item{
    background-color:white;
    padding-top: 20px;
    text-align: center;
    color: #252222;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    box-shadow: 4px 4px #e7e24b;
    font-size: 15px;
}

.abouttext{
    color: white;
}

/* Services para d ma saag */

#services{
    background-color: #252222;
    height: fit-content;
    margin-bottom: 40px;
}

#services-header{
    padding: 50px;
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
}

.service-container{
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: center;
}

.service1, .service2, .service3{
    background-color: white;
    width: 300px;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    margin-left: 30px;
    flex-basis: auto;

}

#front-end, #back-end, #uidesign{
    color: #252222;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;


}

#back-end{
    color: #252222;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}


#uidesign{
    color: #252222;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

.service4{
    width: 200px;
    height: 200px;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    text-align: center;

}

#uxresearch{
    color: #252222;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

.serviceabout{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

/*Contacts para d ma saag*/

#contacts{
    background-image: url(map-image.png);
    padding: 50px;
    text-align: center;
}

#contact-header{
    font-size: 40px;
    color:whitesmoke;
    font-family: 'Poppins', sans-serif;
}

.contacts-container{
    display: flex;
    justify-content: center;

}

.contactbox{
    width: fit-content;
    height: fit-content;
    background-color: #352F44;
    padding: 50px;
    margin-right: 30px ;
    border-radius: 10px;
    text-align: left;

}

td{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: white;
    padding: 10px;
    padding: 10px;
}

.message-header{
    color: white;
    font-family: 'Poppins',sans-serif;
    text-align: center;
}
.message{
    background-color: transparent;
    padding: 20px;
    border-radius: 10px;
}

input{
    width: 500px;
    padding: 15px;
    border-radius: 10px;
}

#textmessage{
    padding: 15px;
    width: 530px;
    height: 100px;
    border-radius: 10px;
    resize: none;
    box-sizing: border-box;
}

#submit{
    width: 100px;
    background-color: aliceblue;
    font-family: 'Poppins', sans-serif;
    margin-right: 10px;
    cursor: pointer;
}

#reset{
    width: 100px;
    background-color: aliceblue;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}